<div><a href="/dash/" class="dash-link">
    <span>Embedded Plotly Dash</span>
    <i class="fas fa-arrow-right"></i>
</a></div>

<div><a href="/data" class="data-link">
    <span>User Data</span>
    <i class="fas fa-arrow-right"></i>
</a></div>

<div><a href="/home/" class="data-link">
    <span>Home</span>
    <i class="fas fa-arrow-right"></i>
</a></div>